@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #141414;
    color: white;
    font-family: 'Poppins', Courier, monospace;
}
.navbar {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
    align-items: center;
}
.left {
    display: flex;
    color: rgb(128, 0, 53);
    font-weight: 700;
    font-size: 2rem;
    align-items: center;
}
.left img{
    width:10%;
}
.right {
    /* background-color: #9f0d7f; */
}
.right ul {
    display: flex;
    list-style-type: none;
}
.right ul li {
    margin-inline: 20px;
    padding: 10px 20px;
    color:white;
}
.right ul li:hover {
    background-color: rgb(128, 0, 53);
    border-radius: 20px;
}
.para p{
    display: flex;
    font-size: 2.5rem;
    color:blueviolet;
    align-items: center;
    justify-content: center;
}